body{
	font-family: verdana;
	margin: 0;
	padding: 0;
}
h1{
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	margin-top: 0;
	background: red;
	padding: 10px 0;
	font-style: italic;
}
h2{
	text-align: center;
	color: red;
}
.sec1{
	display: flex;
}
.sec1>div:first-of-type{
	flex:1;
	padding: 0 20px;
	box-sizing: border-box;
}
.sec1>div:last-of-type{
	flex-basis:500px;
	padding: 0 20px;
	box-sizing: border-box;
}
.chooseCar, .chooseTrack{
	display: flex;
}
.car,.track{
	flex:1;
	text-align: center;
	font-size: 11px;
	cursor:pointer;
}
.track:nth-of-type(2) .trackImg{
	background: #e8e8e8;
}
.track:nth-of-type(1) .trackImg{
	background: #d3c7e8;
}
.track:nth-of-type(3) .trackImg{
	background: #e2bf6e;
}
.trackImg{
    padding: 10px 0;
    width: 70px;
    margin: 0 auto;
}
.carImg{
	font-size: 30px;
    margin: 0;
}
.row{
	display: flex;
	height: 20px;
	justify-content: space-between;
	position: absolute;	
	width: 100vw;
}

button{
	text-transform: uppercase;
    border: 1px solid red;
    border-radius: 5px;
    padding: 5px 10px;
    color: red;
    font-size: 22px;
    font-style: italic;
    display: block;
    margin: 20px auto;
    cursor: pointer;
    outline: none;
    background: #fff;
}
button:active{
	box-shadow: 0 0 5px;
}
.chooseCar .car:nth-of-type(1) .carImg{
	color:green;
}
.chooseCar .car:nth-of-type(2) .carImg{
	color:blue;
}
.chooseCar .car:nth-of-type(3) .carImg{
	color:#6899a9;
}
.chooseCar .car:nth-of-type(4) .carImg{
	color:orange;
}
.chooseCar .car:nth-of-type(5) .carImg{
	color:black;
}
.active{
	border: 2px solid red;
}

.trackLine{
	border:2px dotted grey;
	position: relative;

}
.trackLine p{
	height: 120px;
	box-sizing: border-box;
	padding: 0 20px;
	margin: 0;
}
.trackLine p:nth-of-type(2){
	border-top:2px dotted grey;
	border-bottom:2px dotted grey;	
}
.trackLine p {
	font-size: 30px;
	padding-top: 42px;
}
.trackLine p i{
	display: inline-block;
	transition: 1s linear;
}
.trackLine div {
	position: absolute;
	height: 100%;
	width: 0;
	border-left: 4px double grey;
}
.startLine{
	left:70px;
}
.finishLine{
	right: 70px;
}